<div class="container">
    <div class="row border" style="vertical-align: middle">
        <div class="col-md-4 border-right"> <h5 class="p-2" > Performance Parameter </h5></div>
        <div class="col-md-4 border-right"> <h5 class="p-2"> Comment </h5></div>
        <div class="col-md-4 border-right"> <h5 class="p-2"> Action </h5></div>
    </div>
    <form *ngIf="dataSource" [formGroup]="customForm">
        <div formArrayName="performances" style="vertical-align: middle"  *ngFor="let item of customForm.get('performances')['controls']; let i = index;">
            <div [formGroupName]="i" class="row border">
                <div class="col-md-4 border-right" >
                    <div style="display: table;margin: auto">
                        <span> {{item.controls.performancePhraseName.value}} </span>
                    </div>
                </div>
                <div class="col-md-4 border-right">
                    <div>
                    <span>
                        <mat-form-field appearance="fill" style="display: block !important;">
                            <input type="text" matInput  formControlName="details"/>
                        </mat-form-field>
                    </span>
                    </div>
                </div>
                <div class="col-md-4 border-right" style="display: table;margin: auto">
                    <span class="p-2">
                    <button mat-button color="accent" *ngIf="item.controls.id.value" (click)="addOrEdit(i)" > <mat-icon>edit</mat-icon> Edit Review </button>
                    <button mat-button color="primary" *ngIf="item.controls.id.value == null" (click)="addOrEdit(i)" > <mat-icon>add</mat-icon> Add Review </button>
                    </span>
                </div>
            </div>
        </div>
        <mat-paginator *ngIf="dataSource.length > 0" #paginator [pageSize]="pageSize" [showFirstLastButtons]="false" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
    </form>
</div>