<div>
    <div class="mb20" style="text-align: center"> <h3> {{title}} </h3></div>
    <div class="container">
        <div class="row mt20" style="display: table;margin-left: auto; margin-right: auto">
            <div >
                <mat-form-field style="width: 100%">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>

            </div>
        </div>
    </div>
    <app-reusable-table [cols]="cols" [data]="dataSource" (onAction)="onActionHandler($event)"></app-reusable-table>
    <mat-paginator *ngIf="dataSource.length > 0" #paginator [pageSize]="pageSize" [showFirstLastButtons]="false" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)"></mat-paginator>
</div>